<div class="padding-30 row text-center">
	<div class="column">
		<img height="190" src="./img/logo.jpg" width="190" />
		<h1 class="color-primary font-36 font-600 pull-up-0">{{h1}}</h1>
		<h2 class="color-grey font-18 font-600 pull-up-0">{{h2}}</h1>
	</div>
</div>
